@(message: String)

@main("Welcome to Play 2.1") {
    
    <!-- @play20.welcome(message) -->
    <div class="container">

<!--       <form class="form-signin">
        <h2 class="form-signin-heading">Add your cup of coffee!</h2>
        <input type="name" placeholder="Coffee name">
        <input type="password" class="input-block-level" placeholder="Brewer">
        <input type="date" class="input-block-level" placeholder="Brew date">
        <input type="producer" class="input-block-level" placeholder="Producer">

        <button class="btn btn-large btn-primary" type="submit">Save</button>
      </form> -->

    <div class="coffee-form">
    <h2 class="form-signin-heading">Add your cup of coffee!</h2>
        <div class="coffee-prop"><div class="coffee-label"> Coffee origin/name:</div> <input type="text" class="coffee-name"></div>
        <div class="coffee-label"> Roaster: </div> <input type="text" class="input-block-level">
        <div class="coffee-label"> Roast date: </div> <input type="date" class="input-block-level">
        <div class="coffee-label"> Producer: </div> <input type="text" class="input-block-level">
        <div class="coffee-label"> Brew date: </div> <input type="date" class="input-block-level">
        <div class="coffee-label"> Price: </div> <input type="text" class="input-block-level">
        <div class="coffee-label"> Rating: </div> <input type="text" class="input-block-level">
        <div> <button class="btn btn-large btn-primary" type="submit">Save</button> </div>

      </div>
    </div>
    
} 

