@(message: String)

@main("Welcome to Coffee Journal") {
    
    <div class="container">

        <div class="coffee-form">
            <h2 class="form-signin-heading">Add your cup of coffee!</h2>
            <div class="coffee-prop"><div class="coffee-label"> Coffee origin/name:</div> <input type="text" class="coffee-name" id="name"></div>
            <div class="coffee-label"> Roaster: </div> <input type="text" id="roaster">
            <div class="coffee-label"> Roast date: </div> <input type="date" id="roastDate">
            <div class="coffee-label"> Producer: </div> <input type="text" id="producer">
            <div class="coffee-label"> Brew date: </div> <input type="date" id="brewDate">
            <div class="coffee-label"> Price: </div> <input type="text" id="price">
            <div class="coffee-label"> Rating: </div> <input type="text" id="rating">
            <div> <button class="btn btn-large btn-primary" type="submit" id="submit">Save</button> </div>
        </div>
    </div>
    
} 

