@(message: String)

@main("Welcome to Play 2.1") {
    
    <!-- @play20.welcome(message) -->
    <div class="container">

<!--       <form class="form-signin">
        <h2 class="form-signin-heading">Add your cup of coffee!</h2>
        <input type="name" placeholder="Coffee name">
        <input type="password" class="input-block-level" placeholder="Brewer">
        <input type="date" class="input-block-level" placeholder="Brew date">
        <input type="producer" class="input-block-level" placeholder="Producer">

        <button class="btn btn-large btn-primary" type="submit">Save</button>
      </form> -->

    <div class="coffee-form">
    <h2 class="form-signin-heading">Add your cup of coffee!</h2>
        Coffee origin/name: <input type="text" class="coffee-name">
        Roaster: <input type="text" class="input-block-level">
        Roast date: <input type="date" class="input-block-level">
        Producer: <input type="text" class="input-block-level">
        Brew date: <input type="date" class="input-block-level">
        Price: <input type="text" class="input-block-level">
        Rating: <input type="text" class="input-block-level">
        <button class="btn btn-large btn-primary" type="submit">Save</button>

      </div>
    </div>
    
} 

